<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<ul>
		
		{% for catagory, cat in pictures.items() %}
			<h2> {{catagory}}: </h2>
			<br>
			{% for pic in cat.values() %}
			<img src="{{pic}}" width="100" height="100">
			{% endfor %}
		{% endfor %}
		
	</ul>
	<form action="/signout" method="POST" >
      <button type="submit" class="btn">Sign out</button>
    </form>

    <form action="/profiles" method="POST" >
      <button type="submit" class="btn">profiles</button>
    </form>
    <a  href = "/home"> return to home </a>

</body>

</html>